* {
    margin: 0;
    padding:0;
}
    
    
body {
    color: #2c98a0;
    background-color: #d1afe8;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 2%;
    padding: 1%;
    }

    .pop {
width: 105px;
height: 150px;
border: 2px solid lightskyblue;
border-color: lightcoral;
animation: col-border 3s infinite 1s steps(3);
}
    img {
        width: 10%;
        height: auto; 
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-self: center;
    }

    a {
        color: black;
        margin-bottom: 5px;
    }

    a:hover {
        color: violet;
        text-decoration: none;
    }

    a:active {
        color: aquamarine;
        text-decoration: none;
    }

    p {
        font-weight: 700;
        margin-top: 5px;
        margin-bottom: 5px;
    }

    form {
        display: flex;
        justify-content: center;
        margin-top: 5px;
        margin-bottom: 5px;
    }

    input {
        width: auto;
        height: 15px;
    }

    .poisk {
        width: auto;
        height: 15px;
        margin-top: 5px;
    }