

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #2c98a0;
    background-color: #d1afe8;
    margin-top: 300px
    }
           a {
        color: black;
    }

    a:hover {
        color: violet;
        text-decoration: none;
    }

    a:active {
        color: aquamarine;
        text-decoration: none;
    }